[package]
name = "fakelake"
version = "1.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow-array = "49.0.0"
arrow-schema = "49.0.0"
chrono = "0.4.31"
clap = { version = "4.4.10", features = ["derive"] }
env_logger = "0.10"
fastrand = "2.0.1"
log = "0.4"
once_cell = "1.8"
parquet = "49.0.0"
rayon = "1.8.0"
yaml-rust = "0.4"

[dev-dependencies]
assert_cmd = "2.0"
cargo-tarpaulin = "0.27.2"
mockall = "0.12.1"
predicates = "2.1"
regex = "1.5"
